# Godot 4+ specific ignores
.godot/
/android/
.vs/
.DS_Store

# Convenience
/[Ll]ocal/
/[Bb]uild/

# ~ prefixes are a common identifier for temporary or in-use files. GodotSteam uses this for .dll
**/~*

# Obsidian (according to some medium.com post)
.obsidian/*
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/config
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/graph.json
!.obsidian/hotkeys.json

